@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*To use: font-family: 'Open Sans', sans-serif; */

#overlay {
  margin: 5vh 4vw;
  width:92vw;

  height: 92vh;

  background: linear-gradient(rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);

  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

 

}

.modal-image-container {
  width: 100%;
  height: 100%;
  


}

#overlay img {


  height: 70%;
  width: 70%;
  object-position: 50% 50%;
  object-fit: cover;
  border-width: 3px;
  border-color: white;
}


p {
  text-align: left;
}

.p-historical {
  color: grey;
  font-size: calc(12px + 2vmin);
}

.grid {
  column-count: 3;
  padding: 0px 50px 0px 50px;
  background-color: #d5d5d5;  
}

.galleryItem-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 20px; 
  background-color: white;
}


.galleryItem-container img {
  width: 100%;
  height: auto;
  display: block; 
}


.imgTxt-container {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  bottom: 0;
  /* justify-content: left; */
  /* text-align: center; */
  transition: all .5s ease;
  opacity: 0;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255,.8) 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 100%);
  /* transform: rotate(25deg); */
}


.galleryItem-container:hover .imgTxt-container {
  opacity: 1;
  z-index: 0;
}

 .siteTxt-container, .siteDescTxt-container {
  /* display: flex; */
  /* justify-content:left; */
  opacity: 1;
  position: absolute;
  /* overflow: auto; */
  width: 56%;
  left: 16px;
  top: 30px;
  /*width: max-content; /* strect the width to fit the texts */
  /* width: auto; */
  text-align: left;  
  }

.siteTxt-container {
  font-weight: bold;
  /* top: 30px; */
}



 .siteDescTxt-container{
  top: 60px;
}
 

/* .overlay-img {
  width: 80%;
  
} */




.closeDisplay {
  text-align: center;
  color: white;
}


.footer {
  height: 100px;
  /* background-color: rgb(119, 69, 99);   */
  background-color: #d5d5d5;  
  text-align: center;
  /* color: seashell; */
  /* color: #d5d5d5; */
  /* align-items: center; */
  /* padding-top: 1px; */
 
}

.social-container {
  position: relative;
 
  width: 100%;
  height: auto;
  background-color: #d5d5d5;  
  /* margin-top: 1%; */
  /* margin-left: 30%; */
  /* box-shadow: none; */
  /*background-color: grey;*/
  /* background-color: #BBBBBB; */
  /* border-radius: 10px; */
  /* border: 1px solid #393E46; */
  margin-left: 50px;
  /* margin: 5px; */
}




.img-social {
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
  float: left;
  width: 1.5%;
  height: auto;
  /* margin-top: 5px; */
  /*margin-left: 5px;*/
  color: white;
  /* opacity: .5; */
  /* padding: 5px; */
  /* margin-left: 40px; */
  /* padding-top: 10px; */
  /* height: 5%; */
  /* object-fit: contain; */
  margin-left: 2%;
  opacity: 1;
}

.img-social:hover {
  opacity: .5;
  transform: scale(1.5);
  
}

/* .social-container:hover {
  background-color: red;

} */


.App {
  text-align: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 800px) {
  .leftColumn, iframe, .rightColumn {
    width: 100%;
    margin-top: 0;
  }
} */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media only screen and (max-width: 902px) {
  .App-header {
    width: 100%;
  }

  p {
    font-size: calc(8px + 2vmin);
  }
  
  .p-historical {
    
    font-size: calc(6px + 2vmin);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 120s linear;
  }
}




.App-header {
  background-color: #d5d5d5;
  margin: auto;
  padding: 30px 50px 5px 50px;
  font-size: calc(14px + 2vmin);
  color: black;
  font-family: 'Open Sans', sans-serif;  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}