@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*To use: font-family: 'Open Sans', sans-serif; */

#overlay {
  margin: 5vh 5vw;
  width:90vw;
  height: 90vh;
  /* background-color: yellow; */
  background: linear-gradient(rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay img {
  height: 100%;
  width: 100%;
}

.grid {
  column-count: 3;

  /*max-width: 80%;*/
  /* max-width: 1100px; */
  /* margin: auto; */
 /* padding: 10px;  */
  padding: 0px 50px 0px 50px;


  background-color: #d5d5d5;
  
}

.galleryItem-container {
  
  width: 100%;
  /* height: 100%; */
  height: auto;
  position: relative;
  overflow: hidden;



  /* height: auto; */
  display: block;
  margin-bottom: 20px; 
  /* padding: .5px; */
  /* box-sizing: border-box; */
  background-color: white;

  /* background-image: linear-gradient(to bottom right, red green); */
  /* opacity: .5; */
  /* opacity: 1; */
  /* z-index: 10000; */
  /* z-index: 0; */
  

}


/* .galleryItem-container .img-container {
  width: 100%;
  /* height: 100%;
  height: auto;
 
  overflow: hidden;
  
} */


.galleryItem-container img {
  /*max-width: 200px;*/

  width: 100%;
  height: auto;
  /* height: 100%; */
  display: block;
  /* margin-bottom: 20px;  */
  /* padding: .5px; */
  /* box-sizing: border-box; */

  /* z-index: 0; */
  /* opacity: .5; */
  
 
}

.imgOverlay {
  width: 100%;
  height: auto;

  position: absolute;
  transition: all .5xxs ease;
  opacity: 0;
  /* background-color:pink; */
  /* background-image: linear-gradient(45deg, rgba(29, 236, 197, 0.9)50%, rgba(91, 14, 214, 0) 100%); */
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255,.8) 49%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0) 100%);


  /* text-align: left;
  position: absolute;
  top: 30px;
  left: 20px; */
  
}


.imgOverlayGradient {
  height: auto;
  width: 100%;

  top: 0;
  bottom: 0;

  /* border-width: 5px;
  border-color: blue; */

  /* background: "linear-gradient(45deg, rgba(29, 236, 197, 0.9), rgba(91, 14, 214, 0.7) 100%)", 
  url("./images/city-skyline.jpg") */

}

/* .imgGradient {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  opacity: 0;
} */

.galleryItem-container:hover .imgOverlay {
  opacity: 1;
  
}

/* .galleryItem-container:hover .galleryItem-container {
  
} */



/* .galleryItem-container:hover .galleryItem-container .siteTxt-container, .siteDescTxt-container {
  opacity: 1;
} */


 .siteTxt-container, .siteDescTxt-container {
  opacity: 1;

  position: absolute;
  /*transition: all .3s ease;
  opacity: 0; */
  width: 100%;
  left: 20px;
  width: max-content; /* strect the width to fit the texts */
  
 


}

.siteTxt-container {
  font-weight: bold;
  top: 30px;
 
  /* transform:translate(-50%, -50%); */

}

 .siteDescTxt-container{

  top: 60px;

  /* transform:translate(-50%, -50%); */

}


/* .galleryItem-container:hover .img-container img { */
  /* transform: scale(1.5); */
/* } */








/* .grid img {
  /*max-width: 200px;*/

  /* width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px; 
  padding: .5px;
  box-sizing: border-box;
} */ 

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 120s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #d5d5d5;
  /* max-width: 1100px; */
  margin: auto;
  /* padding: 10px;  */
  padding: 30px 50px 5px 50px;
 


  /* max-width: 960px;
  margin-left: 140px;
  padding-left: 200px; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start; */

  font-size: calc(14px + 2vmin);
  /* font-size: 24px; */

  /* color: white; */
  color: black;
  font-family: 'Open Sans', sans-serif;  
}

p {
  text-align: left;
}

.p-historical {
  color: grey;
  font-size: calc(12px + 2vmin);
}

.closeDisplay {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}