@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/*To use: font-family: 'Open Sans', sans-serif; */

#overlay {
  margin: 5vh 5vw;
  width:90vw;
  height: 90vh;
  background-color: yellow;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay img {
  height: 100%;
  width: 100%;
}

.grid {
  column-count: 3;

  /*max-width: 80%;*/
  max-width: 1100px;
  margin: auto;
 /* padding: 10px;  */
  padding: 0px 50px 10px 50px;


  background-color: #d5d5d5;
  
}

.grid img {
  /*max-width: 200px;*/

  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px; 
  padding: .5px;
  box-sizing: border-box;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #d5d5d5;
  max-width: 1100px;
  margin: auto;
  /* padding: 10px;  */
  padding: 30px 50px 5px 50px;
 


  /* max-width: 960px;
  margin-left: 140px;
  padding-left: 200px; 
  

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  align-items: flex-start; */

  font-size: calc(14px + 2vmin);
  /* font-size: 24px; */

  /* color: white; */
  color: black;
  font-family: 'Open Sans', sans-serif;  
}

p {
  text-align: left;
}

.p-historical {
  color: grey;
  font-size: calc(12px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
